<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f71a9">  <td>20/08/30 15:56:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTestcase.TC_01_searchWithValidDta(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">TC_01_searchWithValidDta</td> 
  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="9f71a9">  <td>20/08/30 15:56:53</td>   <td>17583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTestcase.TC_02_searchWithInvalidDta(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">TC_02_searchWithInvalidDta</td> 
  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="9f71a9">  <td>20/08/30 15:57:09</td>   <td>33873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTestcase.TC_03_searchPageWithNavigationLinks(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">TC_03_searchPageWithNavigationLinks</td> 
  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="92efc3">  <td>20/08/30 15:56:36</td>   <td>592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="92efc3">  <td>20/08/30 15:56:53</td>   <td>17591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="92efc3">  <td>20/08/30 15:59:31</td>   <td>175570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="92efc3">  <td>20/08/30 15:56:14</td>   <td>-20959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="92efc3">  <td>20/08/30 15:56:41</td>   <td>6303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
<tr bgcolor="92efc3">  <td>20/08/30 15:56:58</td>   <td>22876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.SearchTestcase@56620197]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@371800738</td>   <td></td> </tr>
</table>
